
@font-face {
    font-family: 'arvoBold';
    src: url('fonts/arvo-bold_201-webfont.woff2') format('woff2'),
         url('fonts/arvo-bold_201-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p, a{
	font-family: "arvoBold";
	font-weight: bold;
	text-decoration-line: none;
	
}
nav-a{
	color: black;
}
.tekstNorm{
	font-size: 22px;
}

#head{
	color: white;

	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
}
#myNavbar{
	margin-top: 20px;
	color: black;
}
#body{
	margin-top: 20px;
}
#gruppen{
	text-align: center;
}
.bodySeksjon{
	margin-top: 20px;
	padding-bottom: 60px;
}



.tekstRight{
	left: 50px;
}
.tekstLeft{
	left: -50px;
}

/* ANIMERING */
.fadeSlow{
	visibility: hidden;
}
.fadeFast{
	visibility: hidden;
}


.fadeInFast {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

.fadeInSlow {
    -webkit-animation: animat_show 1.2s;
    animation: animat_show 1.2s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

